.Main {
  top: 100%;
  position: relative;
  background: 
  radial-gradient(13vw 13vw at 10% 90%, rgba(229, 255, 0, 0.25), transparent),
  radial-gradient(13vw 13vw at 20% 45%, rgba(0, 153, 255, 0.2), transparent),
  radial-gradient(13vw 13vw at 90% 30%, rgba(162, 0, 255, 0.2), transparent),
  radial-gradient(10vw 10vw at 80% 80%, rgba(255, 0, 140, 0.15), transparent),
  radial-gradient(13vw 13vw at 10% 20%, rgba(25, 0, 255, 0.315), transparent),
  rgba(10,10,10);
  box-shadow: inset 0 0 30vw -5vw rgba(68, 0, 255,0.6)
}

#Skills, :is(#Projects, #Services, #Contact)>h2{
    width: 100%;
    display: block;
    color: white;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255));
    text-shadow:rgba(21, 255, 255, 0.7) 0 0 3px;
    font-size: 5em;
    padding-top: var(--ptop);
}

.skills-container{
  gap: 50px;
}
 
.skcards{
  padding: 16px;
  backdrop-filter: blur(6px);
  width: 180px;
  box-shadow: inset 0 0 15px -2px rgba(255,255,255,0.5);
  border-radius: 10px;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  opacity: 0;
  filter: contrast(1.09) brightness(10) drop-shadow(0 0 0px var(--hovercolor)) drop-shadow(0 0 28px var(--hovercolor)) drop-shadow(0 0 0px var(--hovercolor));
}

.skcards:hover{
  background-color: var(--backcolor);
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px){
  .skcards{
    width: 110px;
  }

  .skills-container{
    gap: 30px;
  }
}
